body{
    background-color: #FFFFFF;
}
.logo{
    margin-left: auto;
    margin-right: auto;
    background-color: #FDFEFE;
    width: 12%;
    display: block;
}

    .a-container{
        padding-bottom: 400px;
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    .a1{
        margin-top: 15%;
        margin-left: 5%;
        width: 15%;
        position: absolute;
    }
    h1{
        padding-top: 4%;
        margin-left: 18%;
        margin-top: 33%;
        margin-bottom: -1%;
        position: relative;
        font-size: 6vw;
        font-family: giulia-plain;
        color: #C48AFF;
    }
    p1{
        left: 20.5%;
        position: absolute;
        font-family: giulia-plain;
        color: #C48AFF;
        font-size: 2vw;
    }
    .a2{
        position: absolute;
        padding-top: 5%;
        right: 10%;
        height: 70%;
    }

/*
Linha B */
    .b-container{
        padding-bottom: 400px;
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    p2{
        margin-top: 50px;
        text-align: center ;
        font-family: Quicksand;
        color: #C48AFF;
        font-size: 5vw;
    }
    .b1{
        margin-left: 5%;
        width: 80%;
}


@media (max-width: 750px) {
    .a-container{
        margin: 0px;
        display: contents;
    }
    .a1{
        margin: 0;
        margin-top: -2%;
        left: 22%;
        width: 25vw;
    }
    .a2{
        padding-top: 30%;
        right: auto;
        margin: 0;
        position: relative;
        width: 70%;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    .logo{
        background-color: #FDFEFE;
        width: 30%;
        display: block;
        padding-bottom: 5%;
        margin-bottom: 5%;
        padding-top: 1%;
    }
    h1{
        margin: 0;
        margin-top: 10%;
        margin-bottom: -2%;
        font-size: 10vw;
        text-align: center;
        font-family: giulia-plain;
        color: #C48AFF;
        position: relative;
    }
    p1{
        margin: 0;
        left: 50%;
        position: relative;
        font-size: 3vw;
        text-align: end;
        font-family: giulia-plain;
        color: #C48AFF;
    }

/*
Linha B */
    .b-container{
        display: contents;
    }

    .b1{
        margin: 0px;
        margin-top: 300px;
        width: 70%;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    p2{
        display: block;
        text-align: center;
    }
}